.FileDetail {
    background-color: hsl(0, 0%, 95%);
    border-bottom: 1px solid #808080;
    padding: 2em;
    width: 55%;
    height: 65%;
    overflow-y: scroll;
}

.focus-heading-cont {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.focus-heading {
    font-size: 2em;
}

.focus-subheading p {
    font-size: .8em;
    margin-bottom: .5em;
}

.graphLink {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.graphIcon {
    color: rgb(255, 0, 0);
    font-size: 1.4em;
    text-shadow: 0 0 0 rgb(255, 130, 130);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
      text-shadow: 0 0 0 rgba(255, 130, 130, 1);
    }
    70% {
        text-shadow: 0 0 50px rgba(255, 130, 130, 0);
    }
    100% {
        text-shadow: 0 0 0 rgba(255, 130, 130, 0);
    }
  }