.NewCaseForm {
    margin-left: 300px;
  }
  
  .NewCaseForm form {
    display: flex;
    flex-direction: column;
  }
  
  .newCaseForm {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }