.NewCaseForm {
    margin-left: 300px;
  }
  
  .NewCaseForm form {
    display: flex;
    flex-direction: column;
  }
  
  .newFileForm {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  
  .newFile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 14em;
    padding: 1em 5em 3em 5em;
    border: 1px solid #afafaf;
    background-color: #f3f3f3;
  }