.newCaseForm {
    background-color: hsl(0, 0%, 95%);
    border-bottom: 1px solid #808080;
    padding: 2em;
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.newCaseForm input {
  background: hsl(0, 0%, 100%);
  border: none;
  border-bottom: 1px solid #808080;
  padding: .2em .4em;
  width: 60%;
  margin-bottom: .3em;
}

.newCaseForm input:focus {
  outline: none;
  color: #f73939;
  border-bottom: 1px solid #f73939;
}

.newCaseForm button {
  background: #ffffff;
  border: 1px solid #afafaf;
  border-radius: 3px;
  padding: .35em .75em;
  transition: .5s;
  margin: .25em auto;
}
.newCaseForm>button:hover {
  border: 1px solid #f73939;
  transition: .3s;
}




