.newFileForm {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.newFile {
  transform: translateX(-50px);
  transition-delay: .5s;
  transition: .3s;
}

.newFile form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em 5em 2em 5em;
  border-bottom: 1px solid #808080;
  background-color: hsl(0, 0%, 95%);
}

.newFile input {
  border: none;
  border-bottom: 1px solid #808080;
  padding: .35em .75em;
  margin-bottom: .15em;
  display: block;
  transition: .2s;
}

.newFile input:focus {
  transition: .2s;
  outline: none;
  color: #f73939;
  border-bottom: 1px solid #f73939;
}

.newFile button {
  background: #ffffff;
  border: 1px solid #afafaf;
  border-radius: 3px;
  padding: .35em .75em;
  transition: .5s;
  margin: .5em 0;
}

.newFile button:hover {
  border: 1px solid #f73939;
  transition: .3s;
}

/* this class is created in html by the rfr component */
/* that's why it doesnt show up in our written components */
.react-file-reader {
  background: #ffffff;
  border: 1px solid #afafaf;
  border-radius: 3px;
  padding: .35em .75em;
  transition: .5s;
  margin: .5em 0;
}

.react-file-reader:hover {
  border: 1px solid #f73939;
  transition: .3s;
}

.react-file-reader:active {
  border: 1px solid #f73939;
  background: rgba(246, 59, 59, 0.1);
}