.sideNav {
  max-width: 250px;
  min-width: 250px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  border-right: 1px solid #808080;
}


.navIconBar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 20%;
  padding: 1.7em .5em;
  background-color: hsl(0, 0%, 20%);
}

.navIconBar a {
  margin-bottom: 1em;
  transition: .4s;
}

.navIconBar span {
  color: rgb(218, 218, 218);
  font-size: 1em;
  
}

.navIconBar>a:hover {
  transform: translateX(5px);
  transition: .4s;
}

.sideNavCont {
  width: 79.99%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 2em 1.75em 0 1em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
}

.sideNav::-webkit-scrollbar {
  background-color: hsl(0, 0%, 95%);
  border-radius: 0;
  width: 2px;
  height: 2px;
}

.sideNav::-webkit-scrollbar-thumb {
  background-color: #f73939;
  border-radius: 0;
}

.sideNav::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 95%);
}

.navHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.navHeader p {
  font-size: 1.5em;
  margin-right: .5em;
  font-family: "Roboto", sans-serif;
  color: #5f5f5f;
}

.addItemIcon {
  color: black;
  font-size: .9em;
  transition: .1s;
  padding: .2em;
}

.addItemIcon:hover {
  color: #f73939;
  transition: .2s;
}

.itemList {
  margin-top: 6%;
}

.itemList li {
  list-style: none;
  color: #838383;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: .8em;
}

.itemList li:hover {
  transition: 0.2s;
  color: #f73939;
}

.childSelect:hover {
  background-color: white;
}
