.routeList {
    margin-right: -120px;
}

.routeHeader {
    list-style: none;
    color: black;
    font-weight: bold;
    cursor: default;
    background-color: hsl(0, 0%, 90%);
    /*border-top: 1px solid #808080;*/
     border-left: 2px solid #808080;
    margin: .35em 1em .7em;
    padding: .25em .75em;
    font-size: .8em;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.routeItemCont {
    list-style: none;
    margin: 0em 1em;
}

.routeItem {
    color: #838383;
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
    border-left: 1px solid #808080;
    padding: .25em .75em;
    font-size: .8em;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.routeItem:hover {
    transform: translateX(6px);
    border-left: 1px solid #f73939;
    transition: .3s;
}

.routeLine {
    width: 2px;
    background-color: #f73939;
    height: .7em;
    margin: 0 auto;
}

.stringMap {
    float: right;
}

.nodePulse {
    animation: nodePulse 3s infinite ease-out;
}

@keyframes nodePulse {
    0%{
        stroke-width: 1px;
        stroke-opacity: 1;
    }
    90% {
        stroke-width: 6px;
        stroke-opacity: .2
    }
    100% {
        stroke-width: 1px;
        stroke-opacity: .5;
    }
}
